body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 13pt; /* Размер основного шрифта в пунктах  */
  background-color: #f0e9f9; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */ 
  text-align: justify;
}
h1 {
  color: navy; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
}
h2 {
  color: navy; /* Цвет заголовка */
  font-size: 18pt; /* Размер шрифта в пунктах */
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
}
h3 {
  color: navy; /* Цвет заголовка */
  font-size: 16pt; /* Размер шрифта в пунктах */
}
h3 {
  color: navy; /* Цвет заголовка */
  font-size: 14pt; /* Размер шрифта в пунктах */
}
p {
  text-align: justify; /* Выравнивание по ширине */
  margin-left: 60px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
}


blockquote {
color: navy;
font-size: 11pt; 
border-left: solid 3px #333;
padding-left:15px;
margin: 15px 45px;

}

figure.img {
  margin: 0;
  text-align: center;
  margin-bottom: 7px; /* Отступ снизу */
}
figure.img img {  /* изображение уменьшается пропорционально экрану браузера */
  max-width: 100%;
  height: auto;
  
}
figure.img figcaption {  /* стиль описания */
  padding: 0 1%;
  font: 75% Georgia,serif;
  
  margin-bottom: 7px; /* Отступ снизу */

}
ul {
margin-left: 50px;

}
ol {
margin-left: 50px;
}

